body{
	padding: 0;
	margin:0;
	box-sizing: border-box;
/*	font-family: 'Knewave', cursive;*/
}
.navbar{
  padding:0;
}
a{
  color:black;
}
.wrapper2{
	padding-top: 100px;
	text-align: center;
	min-height: 200px;
    background-color: #67615D;
}

.wrapper3{
	min-height: 350px;
	background-color: #8A817C;	
}

.wrapper3 h1{
	text-align: center;
	font-size: 50px;
	margin-top:10px;

}
.wrapper3 h3{
	padding-bottom: 50px;
	border-bottom: 1px solid black;
	text-align: center;
	margin-top: 30px;
}

.wrapper4 h2{
	text-align:justify ;
	font-size:50px;
	color:black;
	
}

.wrapper4 img{
	height: 60%;
	width: 100%;
}

.wrapper4{
	/*background-color: black;*/
	min-height:500px;
	
}

.wrapper4 h5{
	margin-top: 75px;
}

.wrapper5{
	min-height:500px;
	background-color: #BCB8B1;
}

.blue{
	color:blue;
	text-align: center;
}

.wrapper5 h3{
	margin-top:30px;
	text-align: center;
}

.wrapper5 p{
		line-height: 50px;
}
#text{
	margin-top: 50px;
	text-align: justify;
}

.border {
 
    width: 70%;
    margin: 0 10% 0 10%;
  border-bottom: 1px solid darkgrey;
  	position: relative;
  	left:50px;
  	top:50px;
  }

  .wrapper6{
  	/*margin-top:50px;*/
  	min-height: 500px;
  	/*margin-bottom: 50px;*/
  	background-color: #F4F3EE;
  }
  .wrapper6 h4{
  	margin-top: 60px;
  	background-color: #F4F7F5;
	height:150px;
	padding-top:40px;
  	
  }
.wrapper6 h5{
	margin-top:30px;
}

.wrapper6 button{
	display: block;
	margin:20px auto;
	border:1px solid green;
}

.border2 {
 
    width: 70%;
    margin: 0 10% 0 10%;
  border-bottom: 1px solid darkgrey;
  	position: relative;
  	left:100px;
  	top:50px;

  }

.wrapper7{
	min-height: 500px;
	/*margin-top: 150px;*/
	padding-bottom: 50px;
	background-color: #E0AFA0;
}


  .wrapper7 h2{
  	margin-top: 50px;
  	text-align: center;
  }
  .wrapper7 h6{
margin-top: 50px;
text-align: center;
  }

  .wrapper7 h4{
  	margin-top: 50px;
  }
  .wrapper7 p{
  	margin-top: 20px;
  }

#jobs{
  	padding-left: 0px;
  	padding-right:0px;
  }

.wrapper8{
  min-height:400px;
  background-color: black;
  color:white;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
}
.wrapper8 i{
 font-size :30px;


}

.wrapper8 h3,h6 ,  p {
  text-align: center;
}
.wrapper8 p{
  font-size: .8em;
}

.wrapper8 img{
  height:300px;
  position: absolute;
  top:-20px;
  left:35px;
}

.text-bottom{
  position: relative;
  top:200px;
}

@media only screen and (max-device-width : 480px){
.border2{
  position: relative;
 left:50px;
}

}


@media only screen and (min-device-width:768px) and
(max-device-width:1024px){

.wrapper8{
  height: 1000px;
}
 .text-bottom{
  position: relative;
  top:410px;
} 
.border2{
  position: relative;
 left:50px;
}
  }
